tests/schemas/incremental.rng.xml

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="">
    <!--
    Target namespace is intentionally set to "" so as not to interfere with
    prefix/URI bindings
  -->

    <start>
        <ref name="testSuite" />
    </start>

    <define name="testSuite">
        <element name="testSuite">
            <ref name="header" />
            <zeroOrMore>
                <choice>
                    <ref name="testSuite" />
                    <ref name="testCase" />
                </choice>
            </zeroOrMore>
        </element>
    </define>

    <define name="testCase">
        <element name="testCase">
            <ref name="header" />

            <ref name="resources" />

            <choice>

                <!-- Incorrect schema -->
                <element name="incorrect">
                    <ref name="dtd" />
                    <ref name="anyElement" />
                </element>

                <!-- Correct schema and test cases -->
                <group>
                    <ref name="correct" />
                    <zeroOrMore>
                        <choice>
                            <!-- Valid test cases -->
                            <element name="valid">
                                <ref name="dtd" />
                                <ref name="anyElement" />
                            </element>
                            <!-- Invalid test cases -->
                            <element name="invalid">
                                <ref name="dtd" />
                                <ref name="anyElement" />
                            </element>
                        </choice>
                    </zeroOrMore>
                </group>

            </choice>

        </element>
    </define>
</grammar>